In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv('seattleWeather_1948-2017.csv')
df.head(2)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True

In [5]:
#removing the null values
df.dropna(axis=0, inplace =True)
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [6]:
#reset the index to avoid errors
df.reset_index(drop=True, inplace=True)

In [7]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [8]:
df['RAIN'].replace([False,True], [0,1])

0        1
1        1
2        1
3        1
4        1
        ..
25543    0
25544    0
25545    0
25546    0
25547    0
Name: RAIN, Length: 25548, dtype: int64