In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv('seattleWeather_1948-2017.csv')
df.head(2)

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True

In [5]:
#removing the null values
df.dropna(axis=0, inplace =True)
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [6]:
#reset the index to avoid errors
df.reset_index(drop=True, inplace=True)

In [7]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [9]:
y=df['RAIN'].replace([False,True], [0,1])

In [10]:
#removing date feature and rain because it is our label
df.drop(['RAIN', 'DATE'], axis=1, inplace= True)

In [11]:
df.head()

   PRCP  TMAX  TMIN
0  0.47    51    42
1  0.59    45    36
2  0.42    45    35
3  0.31    45    34
4  0.17    45    32

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25548 entries, 0 to 25547
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PRCP    25548 non-null  float64
 1   TMAX    25548 non-null  int64
 2   TMIN    25548 non-null  int64
dtypes: float64(1), int64(2)
memory usage: 598.9 KB

In [15]:
#Splitting the data to train (75%) and test (25%)
x_train,x_test,y_train, y_test = train_test_split(df,y,test_size = 0.25)

In [17]:
def KNN(x,y,k):
    dist = []
    #computing Euclidean distance
    dist_ind = np.sqrt(np.sum((x-y)**2,axis=1))
    #concatenating the label with the distance
    main_arr = np.column_stack(train_label, dist_ind)
    #sorting the distance in ascending order
    main = main_arr[main_arr[:,1].argsort()]
    #caculating the frequency of the labels based on value of k
    count = Counter(main[0:k,0])
    keys, vals = list(count.keys()),list(count(values()))
    if len(vals)>1:
        if vals[0] > vals[1]:
            return int(keys[0])
        else:
            return int(keys[1])
    else:
        int(keys[0])

In [20]:
#calculating the accuracy and classification report
print(classification_report(pred, train_label))

NameError: name 'pred' is not defined